<app-navbar-empleado></app-navbar-empleado>
<nav class="navbar navbar-light bg-light ">

    <ul class="navbar-nav">
        <form class="container-fluid justify-content-start ml-auto">
            <button class="btn btn-outline-success me-2" type="button" routerLink="/nuevo-rol"><i
                    class="far fa-plus-square"></i> Nuevo</button>
        </form>
    </ul>
</nav>

<div class="container mt-4">
    <table class="table">
        <thead>
            <tr class="content">
                <th scope="col">Id Rol</th>
                <th scope="col">Nombre</th>
                <th scope="col">Id Usuario</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rol of rol">
                <td>{{rol.idrol}}</td>
                <td>{{rol.nombre}}</td>
                <td>{{rol.idusuario}}</td>

            </tr>
        </tbody>
    </table>
</div>
